<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit password</title>
    <link rel="stylesheet" href="http://localhost:3000/static/edit password.css">
    <link rel="stylesheet" href="http://localhost:3000/static/header.css">
    <script type="text/javascript" src="http://localhost:3000/views/edit password.js"></script>
</head>
<body>
    <section>
        <header class="header">
            <img class="profile_img_hidden">
            <h1>아무 말 대잔치</h1>
            <label for="checkbox"
            src="http://localhost:3000/static/profile.svg"
            class="profile_img">
            </label>
            <input type="checkbox"
            class="dropdown_checkbox"
            id="checkbox">
            <div class="dropdown">
                <ul>
                    <a href="http://localhost:3000/views/edit profile.html">
                        <li class="dropdown_text">
                            회원정보수정
                        </li>    
                    </a>
                    <a href="http://localhost:3000/views/edit password.html">
                        <li class="dropdown_text">
                            비밀번호수정
                        </li>    
                    </a>
                    <a href="http://localhost:3000/views/Log in.html">
                        <li class="dropdown_text">
                            로그아웃
                        </li>
                    </a>
                </ul>
            </div>
        </header>
    </section>
    <section class="password">
        <h2>비밀번호 수정</h2>
        <form class="password_form">
            <label for="password"
            class="input_label"
            >비밀번호*</label>
            <input type="password"
            name="password"
            id="password"
            placeholder="비밀번호를 입력하세요"
            >
            <label for="password" class="helper_text" id="password_helper">* 비밀번호를 입력해주세요</label>

            <label for="password_check"
            class="input_label"
            >비밀번호 확인*</label>
            <input type="password"
            name="password_check"
            id="password_check"
            placeholder="비밀번호를 한번 더 입력하세요"
            >
            <label for="password_check" class="helper_text" id="password_check_helper">* 비밀번호를 한번더 입력해주세요</label>
            
        </form>
        <button
        id="submit" 
        class="password_button"
        onclick="updatePassword()">수정하기</button>
        <div
        class="profile_message"
        >수정완료</div>
    </section>
</body>
</html>