<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
    <meta name="description" content="게시글 수정 페이지">
    <link rel="stylesheet" href="/public/css/make post.css">
    <link rel="stylesheet" href="/public/css/edit post.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <script type="module" src="/public/js/edit post.js"></script>
</head>
<body>
    <section>
        <header class="header">
            <a href="/Main.html">
                <img 
                src="/public/images/navigate_before.svg" 
                alt="to Main page"
                >
            </a>
            <h1>아무 말 대잔치</h1>
            <label for="checkbox"
            src="/public/images/profile.svg"
            class="profile_img">
            </label>
            <input type="checkbox"
            class="dropdown_checkbox"
            id="checkbox">
            <div class="dropdown">
                <ul>
                    <a href="/edit_profile.html">
                        <li class="dropdown_text">
                            회원정보수정
                        </li>    
                    </a>
                    <a href="/edit_password.html">
                        <li class="dropdown_text">
                            비밀번호수정
                        </li>    
                    </a>
                    <a href="/Log in.html">
                        <li class="dropdown_text">
                            로그아웃
                        </li>
                    </a>
                </ul>
            </div>
        </header>
    </section>
    <section class="make">
        <h1>
            게시글 수정
        </h1>
        <form class="post_form">
            <label for="title" class="post_label">제목*</label>
            <hr>
            <input type="text"
            name="title"
            id="title"
            class="post_input"
            placeholder="제목을 입력해주세요. (최대 26글자)"
            maxlength="26"
            >
            <hr>

            <label for="detail" class="post_label">내용*</label>
            <hr>
            <textarea type="text"
            name="detail"
            class="post_textarea"
            id="detail"
            rows="10"
            placeholder="내용을 입력해주세요."
            ></textarea>
            <hr>

            <label for="file" class="helper_text">* helper text</label>
            <label for="file" class="post_label">이미지</label>
            <input type="file"
            name="file"
            id="file"
            placeholder="파일 선택"
            alt="기존 파일 명">

            <button type="" 
            id="submit" 
            class="submit_button">수정하기</button>
        </form>
    </section>
</body>
</html>