.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile h2{
    height: 38px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
}
.profile_form{
    width: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18.5px;
}
.profile_form .input_label{
    width: 100%;
    height: 18px;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 8px;
}
.profile_form #image{
    width: 150px;
    height: 150px;
    border: none;
    outline: none;
    background: url(/public/images/profile.svg) no-repeat center top;
    background-size: 150px;
    padding-left: 0;
}
.profile_form input{
    width: 100%;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 15px;
}
.profile_form .helper_text{
    width: 100%;
    margin-top: 5px;
    color: #FF3333;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    opacity: 1;
}
.show_only{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
}
.profile_button{
    width: 355px;
    height: 33px;
    margin-top: 20px;
    background-color: #ACA0EB;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
}
.profile .dismiss{
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    color: black;
    text-decoration: none;
}
.profile_message{
    display: flex;
    align-items: center;
    background-color: #ACA0EB;
    color: white;
    margin-top: 77px;
    border-radius: 30px;
    width: 70px;
    height: 22px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    opacity: 0;
}
.modal{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.modal .modal_popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 408px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
}
.modal_popup .button_container{
    display: flex;
    flex-direction: row;
}
.cancel_btn{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background-color: #242424;
    margin-right: 16px;
    font-size: 20px;
    color: white;
}
.proc_btn{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background-color: #c4a5fa;
    font-size: 20px;
}